<ul>
    <%@patient.appointments.each do |patient|%>
        <li>Doctor: <%= link_to patient.doctor.name, doctor_path(patient.doctor)%></li><br>
        <li>Appointment Time: <%= patient.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></li><br>
    <%end%>
</ul>